@import url('../assets//fonts//brfirma/fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

// Tailwind Styles
@layer components {
  html {
    font-family: 'BR Firma', sans-serif;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    // font-size: 62.5%;
    scroll-behavior: smooth;

    @media only screen and (min-width: 96rem) {
      font-size: 16px;
    }

    @media only screen and (max-width: 80rem) {
      font-size: 15px;
    }

    @media only screen and (max-width: 48rem) {
      font-size: 14px;
    }

    @media only screen and (max-width: 37.5rem) {
      font-size: 12px;
    }
  }

  body {
    font-family: 'BR Firma', sans-serif;
  }

  .text-header {
    @apply font-display text-base text-dark font-semibold;
  }

  .text-title {
    @apply font-display text-sm text-dark font-bold;
  }

 

  .btn {
    @apply font-semibold text-base rounded-2xl py-3  px-5 transition-all flex items-center justify-center;
  }

  .btn-outline {
    @apply border-2 text-primary-main border-primary-main bg-transparent;
    border-width: 1.375px;
    min-width: 91px;

    &:hover {
      @apply bg-primary-main text-white border-primary-main;
    }
  }

  .scrollbar-none {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      scrollbar-width: none;
    }
  }
}
